@tailwind base;
@tailwind components;
@tailwind utilities;



/*for home page book list to flip on hover*/

.perspective {
    perspective: 1000px;
}

.preserve-3d {
    transform-style: preserve-3d;
}

.backface-hidden {
    backface-visibility: hidden;
}

.rotate-y-180 {
    transform: rotateY(180deg);
}

.group:hover .rotate-y-180 {
    transform: rotateY(180deg);
}

/*.group-hover\\:rotate-y-180:hover .rotate-y-0 {*/
/*    transform: rotateY(180deg);*/
/*}*/

/*.group-hover\\:rotate-y-180:hover .rotate-y-180 {*/
/*    transform: rotateY(0deg);*/
/*}*/

.perspective {
    perspective: 1000px;
}

.transform-style-3d {
    transform-style: preserve-3d;
    transition: transform 0.7s;
}

.flip {
    transform: rotateY(180deg);
}

.backface-hidden {
    backface-visibility: hidden;
}
